<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-6 col-md-offset-3 col-sm-offset-2">
    <div class="movie">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <img src="<%= 'https://image.tmdb.org/t/p/w500/' + @movie.poster_path %>" alt="">
        </div>
        
        <div class="panel-body">
          <p class="movie-title"><%= @movie.title %></p>
            <div class="buttons text-center">
              <%= render 'likes/like_button', movie: @movie %>
            </div>
        </div>
        
      </div>
    </div>
  </div>
  
  <div class="col-md-3 col-sm-4 col-xs-6">
    <div class="like-users">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          likeしたユーザ
        </div>
        <div class="panel-body">
          <% @like_users.each do |user| %>
            <%= link_to user.name, user_path(user), { :class => "user"} %>
          <% end %>
        </div>
      </div>
    </div>
  
      <%= form_for(@review) do |f| %>
      
        <div class="form-group">
          <%= f.hidden_field :movie_id, value: @movie.id %>
        </div>
        
        <div class="form-group">
          <%= f.label :content, 'レビュー' %>
          <%= f.text_area :content, class: 'form-control' %>
        </div>
        
        <div class="tokou">
          <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>
  </div> 
</div>



<%= render 'reviews/reviews', reviews: @reviews %>