<% if logged_in? %>
<div class="row">
  <div class="mozi">
  <ul>
    <li>お気に入りされた映画</li>
  </ul>
  </div>
  <%= render "movies/movies", movies: @movies %>
</div>



  
<% else %>
<div id="main_visual">
  <section class="hoge">
  <!--<div id="header_top">-->
  <!--  <a href="/" data-turbolinks="false"><div id="header_title">Le film</a></div>-->
   
    

  <!--      <% if logged_in? %>-->
  <!--          <div class="pc_navbar">-->
  <!--              <ul>-->
  <!--                  <li><%= link_to 'レビュー一覧', reviews_path, class: 'btn btn-lg btn-default' %></li>-->
  <!--                  <li><%= link_to 'movie検索', new_movie_path, class: 'btn btn-lg btn-default' %></li>-->
  <!--                  <li><%= link_to 'ランキング', rankings_like_path, class: 'btn btn-lg btn-default' %></li>-->
  <!--                  <li><%= link_to 'ユーザー詳細', user_path(current_user), class: 'btn btn-lg btn-default', data: {"turbolinks" => false} %></li>-->
  <!--                  <li><%= link_to 'ログアウト', logout_path, method: :delete, class: 'btn btn-lg btn-default' %></li>-->
  <!--              </ul>-->
  <!--          </div>-->
  <!--      <% else %>-->
        
  <!--          <div class="pc_navbar">-->
  <!--              <ul>-->
                    <!--<li><%= link_to '利用方法', explanation_path %></li>-->
  <!--                  <li><%= link_to '新規登録', signup_path %></li>-->
  <!--                  <li><%= link_to 'ログイン', login_path %></li>-->
  <!--              </ul>-->
  <!--          </div>-->
  <!--      <% end %>-->
  <!--  </div>-->
  <div class="eigatitle">映画レビュー共有サイト<br>世界中の人と映画の価値観を共有し合う</div>
  </section>
</div>
<div class="setumei_pc">
  <div id="setumei_bun_pc">利用方法</div>
  <p class="setumeinaiyou_pc">ここではこのアプリの使い方・サイト概要について紹介していきます。まず、アプリのタイトルでもある「Lefilm」とはフランス語で映画という意味になります。
    そして、このアプリの最大の目的は、キャッチフレーズでもある「価値観を共有したいあなたへ」とあるように、映画の検索はもちろん、他のユーザーがお気に入りした映画、
    映画に対して投稿したレビューなどが共有できるようなっており、レビューを見て映画を見た。こんな面白い映画があったんだ。
    のように一人でも多くの人が映画に対して興味を持って頂ければいいなという思いを込めて作りました。また、ランキング表示などもしており、旬の映画や、お気に入りが多い映画なども共有できるようなっており、映画好きの方にとってはとっておきのアプリとなっていると思います。
    価値観を共有し、新たな映画に出会って頂きたいです。それではまず、ユーザー登録の方を行ないログインしていただければと思います。
    サイトに関して不明点ございましたら下記️よりお問い合わせください</p>
</div>
<div class="review_pc">
  <div class="reviewname_pc">あなたにオススメの映画</div>
  <!--<p class="youga_pc">洋画</p>-->
  <div class="eiga_title_pc">
    <p>アクション</p>
  </div>
  
  <div class="reviewimage_pc">
    
  <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc" src="images/eiga23.jpg" alt="アイテム">
  </div>
   <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc" src="images/eiga22.jpg" alt="アイテム">
  </div>
   <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc" src="images/eiga23.jpg" alt="アイテム">
  </div>
  <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc" src="images/eiga23.jpg" alt="アイテム">
  </div>
   <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc" src="images/eiga23.jpg" alt="アイテム">
  </div>
  
 </div>
 
 
</div>

<div class="review_pc">
  <!--<p class="youga_pc">洋画</p>-->
  <div class="eiga_title_pc">
    <p>SF</p>
  </div>
  
  <div class="reviewimage_pc">
    
  <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc" src="images/eiga20.jpg" alt="アイテム">
  </div>
   <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc" src="images/eiga21.jpg" alt="アイテム">
  </div>
   <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc" src="images/eiga24.jpg" alt="アイテム">
  </div>
  <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc" src="images/eiga23.jpg" alt="アイテム">
  </div>
   <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc" src="images/eiga22.jpg" alt="アイテム">
  </div>
  
 </div>
 
 
</div>

<div class="news_pc">
  <ul>
    <li><%= link_to 'もっと見る', explanation_path%></li>
  </ul>
</div>
<!--<div class="review_pc">-->
  
  <!--<p class="youga_pc">洋画</p>-->
<!--  <div class="eiga_title_pc">-->
<!--    <p>ドラマ</p>-->
<!--  </div>-->
  
<!--  <div class="reviewimage_pc">-->
    
<!--  <div class="reviewgazou_pc">-->
<!--    <img class="u-max-full-width_pc" src="images/eiga23.jpg" alt="アイテム">-->
<!--  </div>-->
<!--   <div class="reviewgazou_pc">-->
<!--    <img class="u-max-full-width_pc" src="images/eiga22.jpg" alt="アイテム">-->
<!--  </div>-->
<!--   <div class="reviewgazou_pc">-->
<!--    <img class="u-max-full-width_pc" src="images/eiga23.jpg" alt="アイテム">-->
<!--  </div>-->
<!--  <div class="reviewgazou_pc">-->
<!--    <img class="u-max-full-width_pc" src="images/eiga23.jpg" alt="アイテム">-->
<!--  </div>-->
<!--   <div class="reviewgazou_pc">-->
<!--    <img class="u-max-full-width_pc" src="images/eiga23.jpg" alt="アイテム">-->
<!--  </div>-->
  
<!-- </div>-->
 
 
<!--</div>-->

<!--<div class="review_pc">-->
  
  <!--<p class="youga_pc">洋画</p>-->
<!--  <div class="eiga_title_pc">-->
<!--    <p>ホラー</p>-->
<!--  </div>-->
  
<!--  <div class="reviewimage_pc">-->
    
<!--  <div class="reviewgazou_pc">-->
<!--    <img class="u-max-full-width_pc" src="images/eiga23.jpg" alt="アイテム">-->
<!--  </div>-->
<!--   <div class="reviewgazou_pc">-->
<!--    <img class="u-max-full-width_pc" src="images/eiga22.jpg" alt="アイテム">-->
<!--  </div>-->
<!--   <div class="reviewgazou_pc">-->
<!--    <img class="u-max-full-width_pc" src="images/eiga23.jpg" alt="アイテム">-->
<!--  </div>-->
<!--  <div class="reviewgazou_pc">-->
<!--    <img class="u-max-full-width_pc" src="images/eiga23.jpg" alt="アイテム">-->
<!--  </div>-->
<!--   <div class="reviewgazou_pc">-->
<!--    <img class="u-max-full-width_pc" src="images/eiga23.jpg" alt="アイテム">-->
<!--  </div>-->
  
<!-- </div>-->
 
 
<!--</div>-->

<!--<div class="review_pc">-->
  
  <!--<p class="youga_pc">洋画</p>-->
<!--  <div class="eiga_title_pc">-->
<!--    <p>恋愛</p>-->
<!--  </div>-->
  
<!--  <div class="reviewimage_pc">-->
    
<!--  <div class="reviewgazou_pc">-->
<!--    <img class="u-max-full-width_pc" src="images/eiga23.jpg" alt="アイテム">-->
<!--  </div>-->
<!--   <div class="reviewgazou_pc">-->
<!--    <img class="u-max-full-width_pc" src="images/eiga22.jpg" alt="アイテム">-->
<!--  </div>-->
<!--   <div class="reviewgazou_pc">-->
<!--    <img class="u-max-full-width_pc" src="images/eiga23.jpg" alt="アイテム">-->
<!--  </div>-->
<!--  <div class="reviewgazou_pc">-->
<!--    <img class="u-max-full-width_pc" src="images/eiga23.jpg" alt="アイテム">-->
<!--  </div>-->
<!--   <div class="reviewgazou_pc">-->
<!--    <img class="u-max-full-width_pc" src="images/eiga23.jpg" alt="アイテム">-->
<!--  </div>-->
  
<!-- </div>-->
 
 
<!--</div>-->
<div class="koukoku_pc">
  <div class="koukokuname_pc">レビューが多い映画TOP10</div>
  
  <div class="koukokuimage_pc">
  <div class="imagegazou_pc">
    <img class="u-max-full-width_pc" src="images/eiga1.jpg" alt="アイテム">
  </div>
   <div class="imagegazou_pc">
    <img class="u-max-full-width_pc" src="images/eiga2.jpg" alt="アイテム">
  </div>
   <div class="imagegazou_pc">
    <img class="u-max-full-width_pc" src="images/eiga3.jpg" alt="アイテム">
  </div>
  <div class="imagegazou_pc">
    <img class="u-max-full-width_pc" src="images/eiga4.jpg" alt="アイテム">
  </div>
   <div class="imagegazou_pc">
    <img class="u-max-full-width_pc" src="images/eiga5.jpg" alt="アイテム">
  </div>
  <div class="imagegazou_pc">
    <img class="u-max-full-width_pc" src="images/eiga6.jpg" alt="アイテム">
  </div>
   <div class="imagegazou_pc">
    <img class="u-max-full-width_pc" src="images/eiga7.jpg" alt="アイテム">
  </div>
  <div class="imagegazou_pc">
    <img class="u-max-full-width_pc" src="images/eiga8.jpg" alt="アイテム">
  </div>
  <div class="imagegazou_pc">
    <img class="u-max-full-width_pc" src="images/eiga9.jpg" alt="アイテム">
  </div>
   <div class="imagegazou_pc">
    <img class="u-max-full-width_pc" src="images/eiga10.jpg" alt="アイテム">
  </div>
 </div>
 
 <!--<div class="voice_pc">新たな映画に出会ってみませんか？</div>-->
</div>

<!--<div class="review_pc">-->
<!--  <div class="reviewname_pc">レビューが多い映画</div>-->
  
<!--  <div class="reviewimage_pc">-->
<!--  <div class="reviewgazou_pc">-->
<!--    <img class="u-max-full-width_pc" src="images/eiga1.jpg" alt="アイテム">-->
<!--  </div>-->
<!--   <div class="imagegazou_pc">-->
<!--    <img class="u-max-full-width_pc" src="images/eiga2.jpg" alt="アイテム">-->
<!--  </div>-->
<!--   <div class="imagegazou_pc">-->
<!--    <img class="u-max-full-width_pc" src="images/eiga3.jpg" alt="アイテム">-->
<!--  </div>-->
<!--  <div class="imagegazou_pc">-->
<!--    <img class="u-max-full-width_pc" src="images/eiga4.jpg" alt="アイテム">-->
<!--  </div>-->
<!--   <div class="imagegazou_pc">-->
<!--    <img class="u-max-full-width_pc" src="images/eiga4.jpg" alt="アイテム">-->
<!--  </div>-->
<!--  <div class="imagegazou_pc">-->
<!--    <img class="u-max-full-width_pc" src="images/eiga6.jpg" alt="アイテム">-->
<!--  </div>-->
<!--   <div class="imagegazou_pc">-->
<!--    <img class="u-max-full-width_pc" src="images/eiga7.jpg" alt="アイテム">-->
<!--  </div>-->
<!--  <div class="imagegazou_pc">-->
<!--    <img class="u-max-full-width_pc" src="images/eiga8.jpg" alt="アイテム">-->
<!--  </div>-->
<!--  <div class="imagegazou_pc">-->
<!--    <img class="u-max-full-width_pc" src="images/eiga9.jpg" alt="アイテム">-->
<!--  </div>-->
<!--   <div class="imagegazou_pc">-->
<!--    <img class="u-max-full-width_pc" src="images/eiga10.jpg" alt="アイテム">-->
<!--  </div>-->
<!-- </div>-->
 
<!-- <div class="voice_pc">新たな映画に出会ってみませんか？</div>-->
<!--</div>-->

<div class="enjoy_pc">
  <p>特徴とメリット</p>
  
   <div class="container_pc">
          <div class="skill-box_pc">
            <div class="skill_gazou">
            <img class="u-max_pc" src="images/gazou36.png" alt="アイテム">
            </div>
            <p>レンタルショップでハズレを引く確率が下がり、あなた好みの映画に出会える</p>
          </div>
          
          <div class="skill-box_pc">
            <div class="skill_gazou">
            <img class="u-max_pc" src="images/gazou35.png" alt="アイテム">
            </div>
            <p>SNS的な交流ができ、周りの人たちのオススメを知ることができる</p>
          </div>
          
          <div class="skill-box_pc">
            <div class="skill_gazou">
            <img class="u-max_pc" src="images/gazou35.png" alt="アイテム">
            </div>
            <p>スマホ対応されており気になる映画のレビューをその場で確認できる</p>
          </div>
    </div>
  
</div>
<% end %>

<footer>
  <div class="contact_pc">
    <ul>
        <li><%= link_to '新規登録', signup_path %></li>
        <li><%= link_to 'ログイン', login_path %></li>
        <li><a href="mailto:happy.doughnut.k0529@gmail.com">お問い合わせ</a></li>
    </ul>
  </div>
    <div class="footer_pc">
      <div class="footer_copy">
      &copy; 2019 Le film.
      </div>
    </div>
</footer>



