<ul class="media-list">
  <% reviews.each do |review| %>
    <li class="media">
      <div class="media-body">
        
        <div>
          <p>名前: <%= link_to review.user.name, user_path(review.user),{ :class => "name"}  %> <br><span class="text-muted">posted at <%= review.created_at %></span></p>
        </div>
        
        <% if controller_name == "reviews" && action_name == "index" %>
        <div class="title_pc">
          <p>タイトル: <%= link_to review.movie.title, movie_path(review.movie),{ :class => "title"} %></p>
        </div>
        <div class="movie">
          <!--<div class="col-md-3 col-md-4 col-xs-12">-->
             <div class="panel panel-default">
                    <div class="panel-heading text-center">
        <img src="<%= 'https://image.tmdb.org/t/p/w500/' + review.movie.poster_path %>" alt="" >
        <!--</div>-->
        </div>
        </div>
        </div>
        
        <% end %>
        
        <div>
          <p><input type="hidden" name="movie_id" value="movie.id"></p>
        </div>
        <div>
          <p>レビュー: <span class="content"><%= review.content %></span></p>
        </div>
        <div>
          <% if current_user == review.user %> 
          <%= link_to "レビューを削除する", review_path(review), method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <%= link_to "レビューを編集する", edit_review_path(review), class: "btn btn-danger btn-xs" %>
        　<% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate  reviews %>
</ul>