<div id="header">
  <div id="header_top">
    <a href="/" data-turbolinks="false"><div id="header_title">Le film</div></a>
      <% if logged_in? %>
        <div class="pc_navbar_log">
          <ul>
              <li class="bothboth"><%= link_to 'レビュー一覧', reviews_path %></li>
              <li class="bothboth"><%= link_to 'movie検索', new_movie_path %></li>
              <li class="bothboth"><%= link_to 'ランキング', rankings_like_path %></li>
              <li class="bothboth"><%= link_to 'ユーザー詳細', user_path(current_user), data: {"turbolinks" => false} %></li>
              <li class="bothboth"><%= link_to 'ログアウト', logout_path, method: :delete %></li>
          </ul>
        </div>
        
        <div class="sp_navbar_log">
          <span class="sp glyphicon glyphicon-th-list"></span>
            <ul>
                <li class="bothboth"><%= link_to 'レビュー一覧', reviews_path %></li>
                <li class="bothboth"><%= link_to 'movie検索', new_movie_path %></li>
                <li class="bothboth"><%= link_to 'ランキング', rankings_like_path %></li>
                <li class="bothboth"><%= link_to 'ユーザー詳細', user_path(current_user), data: {"turbolinks" => false} %></li>
                <li class="bothboth"><%= link_to 'ログアウト', logout_path, method: :delete %></li>
            </ul>
        </div>
      <% else %>
        <div class="pc_navbar">
          <ul>
              <li class="both"><%= link_to '新規登録', signup_path %></li>
              <li class="both"><%= link_to 'ログイン', login_path %></li>
          </ul>
        </div>
      <% end %>
  </div>
</div>