<div id="header">
    <div id="header_top">
    <a href="/" data-turbolinks="false"><div id="header_title">Le film</a></div>
    <!--<div id="header_copy">映画レビュー共有サイト</div>-->
    

        <% if logged_in? %>
            <div class="pc_navbar">
                <ul>
                    <li><%= link_to 'レビュー一覧', reviews_path, class: 'btn btn-lg btn-default' %></li>
                    <li><%= link_to 'movie検索', new_movie_path, class: 'btn btn-lg btn-default' %></li>
                    <li><%= link_to 'ランキング', rankings_like_path, class: 'btn btn-lg btn-default' %></li>
                    <li><%= link_to 'ユーザー詳細', user_path(current_user), class: 'btn btn-lg btn-default', data: {"turbolinks" => false} %></li>
                    <li><%= link_to 'ログアウト', logout_path, method: :delete, class: 'btn btn-lg btn-default' %></li>
                </ul>
            </div>
        <% else %>
        
            <div class="pc_navbar">
                <ul>
                    <!--<li><%= link_to '利用方法', explanation_path %></li>-->
                    <li><%= link_to '新規登録', signup_path %></li>
                    <li><%= link_to 'ログイン', login_path %></li>
                </ul>
            </div>
        <% end %>
    </div>
</div>